@charset "utf-0";
#principal1 {
    background-image: url(imagenes/camion1.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%;
    background-position: center;
    margin-top: 20%;
}

#footer1 {
    background-color: grey;
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

#navegador1 {
    background-color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    width: 40%;
    float: right;
    margin-top: -20%;
}

li {
    display: inline;
    text-align: center;
    margin: 15px;
}

label {
    display: block;
    /* margin-left: -6%; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#mensaje {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

fieldset {
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}

.importante {
    font-weight: bold;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
}